<% line_item_class = line_item == @current_item ? "line-item-highlight" : "" %>
<tr class="<%= line_item_class %>">
  <td class="quantity"><%= line_item.quantity %></td>
  <td><%= line_item.product.title %></td>
  <td class="price"><%= number_to_currency(line_item.total_price) %></td>
  <td><%= button_to "+", line_items_path(product_id: line_item.product_id), remote: true %></td>
  <td><%= button_to "-", decrease_path(line_item.id), method: :delete, remote: true %></td>
  <td><%= button_to "x", line_item, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>